@import '@styles/vars.module';

.totals {
  display: flex;
  flex-direction: column;
  .title {
    font-size: 1.5rem;
  }
  .subtitle {
    border-bottom: 1px solid #333;
    font-size: 1.6rem;
  }
  .token-list {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    .token {
      margin: 1rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .token-details {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        h1,
        p {
          font-size: 1.3rem;
          margin: 0;
          padding: 0;
        }
        h1 {
          font-weight: bold;
        }
      }
      button {
        @include button;
        height: 3rem;
      }
    }
  }
}

.loading {
  width: 100%;
  height: 10rem;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.open-settings {
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  button {
    @include button;
  }
}
