@import '@styles/vars.module';

.settings {
  padding: 7rem 2rem;
  display: flex;
  flex-direction: column;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-size: 1.8rem;
    }
    button {
      @include button;
    }
  }
}
