@import '@styles/vars.module';

.chart {
  :global(.line) {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
    stroke-linecap: round;
  }
  :global(.area) {
    fill: steelblue;
  }
}

// .chart-placeholder {
//   height: 25rem;
// }
// .brush-placeholder {
//   height: 10rem;
// }
// .chart-placeholder,
// .brush-placeholder {
//   width: 100%;
//   background-color: #aaa;
//   margin-bottom: 1rem;
// }